
<span id="warning-message"></span>
<form action="user-url">
<label for="">Please enter your course url</label>
  <input type="text" value="" style="" id="user-url">
  <input type="submit" class="btn btn-primary" id="scraper-btn">
  <span id="loading" class="">

  </span>
</form>

<div id="course-found" class="d-none">
  Course already exists!
</div>

<div id="manual-input" style='display: none;'>
  <%= simple_form_for [current_user, @usercourse] do |f| %>
  <%= f.input :url %>
  <%= f.input :title%>
  <%= f.input :description, class: ' w-70' %>
  <%= f.input :provider %>
  <%= f.input :duration %>
  <%= f.input :category %>
  <%= f.submit "Submit", class: 'btn-primary', id: 'course-form-btn' %>
  <% end %>
</div>
