<div class="tab-pane fade" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
  <br>
      <% if @usercourses.empty? %>
      <div class="container text-center"><h5 class="text-secondary">No Courses Added Yet</h5></div>
    <% end %>
  <div id="library-cards"class="cards">
  <% @usercourses.each do |usercourse| %>
    <div class="card-category p-3 mb-3" style="border-radius: 6px; background-color: white;">
      <div  class="library_card">
        <div class="d-flex align-items-center">
         <a href="<%= usercourse.course.url %>" target="_blank"><h5><%= usercourse.course.title %></h5></a>
         <span class="flex-grow-1"> </span>
            <div>
              <div class="progress" data-percentage="<%= (usercourse.course_tracker / usercourse.course.duration * 100).to_i %>">
                <span class="progress-left">
                  <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                  <span class="progress-bar"></span>
                </span>
                <div class="progress-value">
                  <div><%= (usercourse.course_tracker / usercourse.course.duration * 100).to_i %>%</div>
                </div>
              </div>
            </div>
        </div>
        <div class="card-content">
            <div class="mb-2">
              <span class='library-item-via'>via </span>
              <span class="library-item-provider"><%= usercourse.course.provider %>  |  </span>
              <span class="library-item-duration "><%= usercourse.course.duration %> hours to complete</span>
              <span> | </span>
              <span>
                <%= link_to user_user_course_path(@user, usercourse), method: "delete",class: 'trash' do %>
                  <i class="fas fa-trash-alt "></i>
                <% end %>
              </span>
            </div>

          <p><%= usercourse.course.description.truncate(180)%></p>
        </div>
      <!-- progress graph -->
      </div>
    </div>
  <% end %>
  </div>
</div>
