<div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
  <div class="container col-4 ml-0 p-0" style="display: flex; padding-right: 15px; justify-content: space-between;">
    <h3 class="mb-3 pt-4">My Paths</h3>
    <div class="add-path">
      <%= link_to 'new path', new_user_path_path(@user), class: "btn btn-secondary btn-sm" %>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <!-- Left courses pane -->
      <div class="list-group " id="list-tab" role="tablist">
        <% @paths.each_with_index do |path, i| %>
        <% if i == 0 %>
        <a class="list-group-item list-group-item-action active" id="list-<%= path.id %>-list" data-toggle="list" href="#list-<%= path.id %>" role="tab" aria-controls="<%= path.id %>"><%= path.title %> (<%= path.user_courses.count %> Courses)</a>
        <% else %>
        <a class="list-group-item list-group-item-action" id="list-<%= path.id %>-list" data-toggle="list" href="#list-<%= path.id %>" role="tab" aria-controls="<%= path.id %>"><%= path.title %> (<%= path.user_courses.count %> Courses)</a>
        <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-8">
      <div class="tab-content" id="nav-tabContent">
        <!-- Path Header bar -->
        <div>
          <div class="path-header">
            <div class="path-header-container px-3">
              <div class="path-header-item">
                <h4 class="mb-0 p-3 path-title"><%= @paths.first.title %></h4>
                <%= link_to 'Update path', user_users_courses_path_path(@user, @paths.first), class: "btn btn-primary path-header-item-button" %>
              </div>
            </div>
          </div>
          <div class="progress-header p-3 d-flex justify-content-between align-items-center">
              <div class="pl-3">
                <h5 style="margin-bottom: 0">10 Hours is completed </h5>
                <p>20 Hours in total</p>
              </div>
              <div class="pr-3">
                <div class="progress mb-0" data-percentage="20">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">
                    <div>20%</div>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- Path Header ends -->
        <%= render 'path_body' %>
      </div>
    </div>
  </div>
</div>

<h4 class="mb-0 p-3 path-title">No Paths Available</h4>
