<% @paths.each_with_index do |path, i| %>
  <% if i == 0 %>
    <div class="tab-pane fade show active" id="list-<%= path.id %>" role="tabpanel" aria-labelledby="list-<%= path.id %>-list">
  <% else %>
    <div class="tab-pane fade show" id="list-<%= path.id %>" role="tabpanel" aria-labelledby="list-<%= path.id %>-list">
  <% end %>
    <% unless path.users_courses_paths.empty? %>
      <%
      array = path.users_courses_paths.decorate.sort_by { |i| i.position }
      array.each do |ucp| %>
        <div class="card p-3 mb-3" id="completed-<%= ucp.user_course.id %>">
          <div class="d-flex justify-content-between">
            <div class="p-3 flex-grow-1 border-right">
             <!-- rest of card -->
              <ul class="list-unstyled">
                <li><a href="<%= ucp.c_item.url %>" target="_blank"><h5><div class="badge badge-primary mr-2"><%= ucp.position.to_i + 1 %></div><%= ucp.c_item.title %></h5></a></li>
                <li>via <%= ucp.c_item.provider %></li>
              </ul>
              <div>
                <input type="range" class="custom-range" id="slider" min="0" max="<%= ucp.c_duration %>" step="1" value="<%= ucp.c_progress %>" data-usercourse="<%= ucp.user_course.id %>" data-user="<%= ucp.user_course.user_id %>" data-path="<%= path.id %>">
              </div>
            </div>
            <div class="p-2" style="width: 8.5rem"> <!-- circle -->
              <div class="d-flex align-items-center justify-content-center flex-column">
                <div class="progress" id="graph-<%= ucp.user_course.id %>" data-percentage="<%= (ucp.c_progress / ucp.c_duration * 100).to_i %>">
                  <span class="progress-left">
                    <span class="progress-bar"></span>
                  </span>
                  <span class="progress-right">
                    <span class="progress-bar"></span>
                  </span>
                  <div class="progress-value">
                    <p><%= (ucp.c_progress / ucp.c_duration * 100).to_i %>%</p>
                  </div>
                </div>
                <div id="progress-<%= ucp.user_course.id %>"><strong><%= (ucp.c_duration - ucp.c_progress).to_i %> hour(s) left</strong></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <%= javascript_tag do %>
    var section = document.querySelector(`#list-<%= path.id %>-list`)

    section.addEventListener('click', function() {
      var tag = document.querySelector('.path-title')
      var td = document.querySelector('#total_duration')
      var tt = document.querySelector('#total_tracker')
      var tp = document.querySelector('#total_progress')
      var cp = document.querySelector('#circle_progress')
      td.innerHTML = `<%= path.total_duration %>  Hours in total`
      tt.innerHTML = `<%= path.total_tracker.to_i %> Hours is completed`
      tp.innerHTML = `<%= path.progress %> %`
      cp.setAttribute('data-percentage','<%= path.progress %>')
      console.log(tag)
      tag.innerHTML = `<%= path.title %>`

      const button = document.querySelector('.path-header-item-button')
      button.href = "/users/<%= params[:id] %>/users_courses_paths/<%= path.id %>"

    });
  <% end %>
<% end %>
