
<!-- profile start -->
<%= render 'shared/profile', user: @user, coursebananas: @coursebananas %>
<!-- profile end -->
<div class="toggle">
  <div class="container d-flex">
    <ul class="nav nav-pills mb-3 flex-grow-1" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Your Courses (<%= @usercourses.all.count %>)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Your Paths (<%= @paths.all.count %>)</a>
      </li>
    </ul>
    <div class="dropdown" id="add-course">
      <button class="btn btn-secondary dropdown-toggle" style="background-color: #0E2259; padding: 0.5rem 1rem;"type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Add a new Course
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to 'From Course Catalog', courses_path, class: "dropdown-item" %>
        <%= link_to 'Via URL', new_user_user_course_path(@user), class: "dropdown-item" %>
      </div>
    </div>
  </div>
</div>

<!-- Willem reviewed up until here -->
<div class="toggle-content">
  <div class="container vh-100">
    <div class="tab-content" id="pills-tabContent">
      <!-- Library Tab -->
      <%= render 'library' %>
      <!-- Path Tab -->
      <%= render 'path' %>
    </div>
  </div>
</div>
