<div class="container">
  <h1>This is <%= @user.full_name %>'s show page</h1>

  <hr>
<p>User id: <%= @user.id %></p>
<p>User slug: <%= @user.slug %></p>
<p>User email: <%= @user.email %></p>
<p>User first_name: <%= @user.first_name %></p>
<p>User last_name: <%= @user.last_name %></p>
<p>User full_name: <%= @user.full_name %></p>
<p>User photo:
  <% unless @user.photo == nil %>
  <%= cl_image_tag @user.photo, height: 150, width: 150,crop: :fill %>
  <% else %>
    "(none)"
  <% end %>
</p>
<body>
  <div>
  <button id="url-button" class="btn btn-primary btn-sm"><i class="far fa-copy"></i></button>
  <span><small id="url-message"></small></span>

<br>
<%= link_to "Edit profile", edit_user_path(@user), class: "a-dark-underlined"%> <br>
<%= link_to "Edit account", edit_user_registration_path(@user), class: "a-dark-underlined"%> <br>
<hr>

<!-- mo start -->
<div class="d-flex align-items-center">
  <h1 class='mr-2'>My Library</h1>
  <%= link_to 'new course', new_user_user_course_path(@user), class: 'btn btn-primary p-1' %> <br>
</div>

<!--  -->

<% @usercourses.each do |usercourse| %>
<p><%= usercourse.user.first_name + ' ' + usercourse.user.last_name %></p>
<p><%= usercourse.course.title %></p>
<p><%= usercourse.course_tracker%></p>
<p><%= usercourse.course.description%></p>
<hr>
<% end %>
<!-- mo end -->


<hr>
<!-- z start -->
<h1>My Paths</h1>

<%= link_to 'new path', new_user_path_path(@user) %>
  <div>
    <% @paths.each do |path| %>
      <div class="card p-3" style="width: 18rem">
      <h5><%= path.title %></h5>
      <h6>Courses: <%= path.user_courses.count %></h6>
      <div class="card-item">
      <% unless path.users_courses_paths[0].nil? %>
        <% path.users_courses_paths.decorate.each do |ucp| %>
          <ul>
            <li>Position: <%= ucp.position %></li>
            <li>Title: <%= ucp.c_item.title %></li>
            <li>Provider: <%= ucp.c_item.provider %></li>
            <li id="progress-<%= ucp.user_course.id %>">Progress: <%= (ucp.c_progress / ucp.c_duration * 100).to_i %>%</li> <!-- Progress: <%= (ucp.c_progress / ucp.c_duration * 100).to_i %>% -->
          </ul>
          <div>
            <input type="range" class="custom-range" id="slider" min="0" max="<%= ucp.user_course.course.duration %>" step="1" value="<%= ucp.user_course.course_tracker %>" data-course="<%= ucp.c_item.id %>" data-user="<%= ucp.user_course.user_id %>">
            <span><%= ucp.c_duration %></span>
          </div>
        <% end %>
            <!-- <input type="range" class="custom-range" id="slider" min="0" max="20" step="1" value="4" data-course="course-1" data-user=""> -->
        </div>
      <% end %>
      <%= link_to "Delete", user_path_path(@user, path), method: :delete %>
      </div>
    <% end %>
  </div>
</div>

<!-- z end -->
<hr>

  <!-- Library -->
  <div class="conatiner mb-4" style="display: flex; justify-content: space-between;">
    <div>
      <ul id="library" class="sortable-list list-group" data-groupname="userLists" data-ltype="library">
        <h5>Library</h5>
        <% @usercourses.each do |usercourse| %>
          <li data-courseid="<%= usercourse.course_id %>" class="m-1 list-group-item"><%= usercourse.course.title %></li>
        <% end %>
      </ul>
    </div>

    <% @paths.each do |path| %>
      <div>
        <ul style="background-color: grey;" class="sortable-list list-group" data-groupname="userLists" data-ltype="path" data-pathid="<%= path.id %>">
          <h5><%= path.title %></h5>
          <% unless path.users_courses_paths[0].nil? %>
            <% path.users_courses_paths.order(:position).each do |course| %>
              <li data-courseid="<%= course.user_course.course_id %>" data-position="<%= course.position %>" class="m-1 list-group-item"><%= course.user_course.course.title %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>

</div>

<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>

      </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Oops...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>test modal body content</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
