   <div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= 'navbar-trans' if params[:action] == "home" && params[:controller] == "pages" %>">

    <a class="navbar-brand" href="/">
      <%= image_tag("nc_logo.svg") %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if current_user.nil? %>
        <li class="nav-item mr-3">
          <button type="button" class="btn btn-link btn-nav" data-toggle="modal" data-target=".login-modal">Login</button>

          <div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content modal-style">
                <!-- login modal -->
                <div class="container p-3" style="width: 60%">
                  <h3 class="text-center py-3">Login</h3>
                  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  <div class="form-inputs">

                    <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
                    <%= f.input :password,
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
                    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Log in", class: "btn btn-flat btn-wide" %>
                  </div>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
          <li class="nav-item active">
            <button type="button" class="btn btn-link btn-nav" data-toggle="modal" data-target=".signup-modal">Sign Up</button>
            <!-- Sign Up -->
            <div class="modal fade signup-modal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content modal-style">
                  <div class="container p-3" style="width: 60%">
                    <h3 class="text-center py-3">Start learning now</h3>
                  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                  <%= f.error_notification %>

                  <div class="form-inputs">
                    <%= f.input :first_name %>
                    <%= f.input :last_name %>
                    <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
                    <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
                    <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
                  </div>

                  <div class="form-actions">
                    <%= f.button :submit, "Sign up", class: "btn btn-flat btn-wide" %>
                  </div>
                  <% end %>
                  <hr>

                  <%= render "devise/shared/links" %>

                </div>
                </div>
              </div>
            </div>
          </li>
          <% else %>
          <li class="nav-item dropdown">
            <% if  current_user[:photo] %>
            <%= cl_image_tag current_user.photo,class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" } %><br>
            <% else %>
            <%= image_tag image_url('https://tekrabuilders.com/wp-content/uploads/2018/12/male-placeholder-image.jpeg'),class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" } %>
            <% end %>


            <div class="dropdown-menu dropdown-menu-right <%= 'black' if params[:action] == "home" && params[:controller] == "pages" %>" aria-labelledby="navbarDropdown">
              <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Sign Out", destroy_user_session_path, class: "dropdown-item",method: "delete" %>
            </div>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
    <!-- Devise Modals -->
    <!-- Login -->

