<hr>
<div class="container">
  <div class="profile d-flex align-items-center">
    <% unless @user.photo == nil %>
    <%= cl_image_tag @user.photo, height: 150, width: 150,crop: :fill, class: "avatar-large" %>
    <% else %>
    <%= image_tag image_url:'https://jbmedicalwellness.com/wp-content/uploads/2018/09/placeholder-male-square.png', height: 150, width: 150,crop: :fill, class: "avatar-large" %>
    <% end %>

    <div class=" nametag flex-grow-1">
      <div class=" d-flex ">
        <h3 id="user-full-name"><%= @user.full_name %></h3>
        <% if  %>
          <%= link_to edit_user_path(@user), class: "a-dark-underlined" do %>
          <i class="fas fa-pen fa-1 ml-1"></i>
          <% end %>
          <i id="url-button" class="fas fa-copy fa-1x "></i>
          <span><small id="url-message"></small></span>
        <% end %>
      </div>
      <h4 id="coursebananas"><%= @coursebananas %> 🍌</h4>
    </div>

    <div id="p-right">
      <div class="d-flex mb-2">
        <%= image_tag('path.svg')  %>
        <p class="mb-0"><%= @user.courses.count %> total Courses </p>
      </div>
      <div class="d-flex">
        <%= image_tag('active.svg')  %>
        <p class="mb-0"><%= @user.paths.count %> active Paths </p>
      </div>
    </div>
  </div>
</div>

