<div id="container">
  <div id="inner">
    <%= image_tag("1.svg", id: "c-1") %>
    <%= image_tag("2.svg", id: "c-2") %>
    <%= image_tag("3.svg", id: "c-3") %>
    <%= image_tag("4.svg", id: "c-4") %>
    <%= image_tag("5.svg", id: "c-5") %>
    <%= image_tag("6.svg", id: "c-6") %>
    <%= image_tag("7.svg", id: "c-7") %>
    <%= image_tag("8.svg", id: "c-8") %>
    <%= image_tag("9.svg", id: "c-9") %>
  </div>
  <div class="text-center">
    <p id="title">Learn smarter</p>
  </div>
</div>
<div class="text-center">
  <p id="subtitle">Track all your courses in one place</p>
  <%= link_to "Search for courses", courses_path, class: "btn btn-flat btn-wide" %>
</div>
<div class="text-center" style="padding: 70px"><%= image_tag("arrow.svg") %></div>
<div class="container text-center">
  <h2>How it works</h2>
  <div class="d-flex justify-content-between pic-section">
    <div class="text-center">
      <%= image_tag("pic-1.svg") %>
      <div class="text-center pt-3">
        <h4>Add to your library</h4>
        <p class="text-wrap">You can search for whatever you want in nerdchimp library or by adding directly your course link.</p>
      </div>
    </div>
    <div class="text-center">
      <%= image_tag("pic-2.svg") %>
      <div class="text-center pt-3">
        <h4>Create your path</h4>
        <p class="text-wrap">You can search for whatever you want in nerdchimp library or by adding directly your course link.</p>
      </div>
    </div>
    <div class="text-center">
      <%= image_tag("pic-3.svg") %>
      <div class="text-center pt-3">
        <h4>Track your progress</h4>
        <p class="text-wrap">You can search for whatever you want in nerdchimp library or by adding directly your course link.</p>
      </div>
    </div>
</div>
</div>
    <div class="text-center" style="padding: 70px"></div>
    <div class="container text-center">
      <h2 class="pb-3">Trusted by online learning platforms</h2>
      <div class="d-flex justify-content-between pt-3">
      <%= image_tag("udemy.svg") %>
      <%= image_tag("coursera.svg") %>
      <%= image_tag("edx.svg") %>
      <%= image_tag("udacity.svg") %>
      <%= image_tag("lynda.svg") %>
      </div>
      <div class="text-center" style="padding: 70px"></div>
    </div>
