
<%= render 'shared/profile', user: @user, coursebananas: @coursebananas %>

<div class="path-header ">
  <div class="container">
    <div class="path-header-container">
      <div class="path-header-item">
        <h2 class="mb-0 pt-3 pb-3"><%= @path.first.title %></h2>
        <i class="fas fa-pen fa-xs">
          &#8197;
          <%= link_to 'Rename', edit_user_path_path(@user, @path.first) %>
        </i>
      </div>

      <div class="path-header-item-center">
      </div>

      <div class="path-header-item-button">
        <%= link_to 'Done', user_path(@user), class: "btn btn-primary path-header-item-button" %>
      </div>
    </div>
  </div>
</div>


<div class="library-path-wrapper">

  <div class="library">
    <div class="conatiner mb-4" style="display: flex; justify-content: center;">
        <ul id="library" class="sortable-list list-group" data-groupname="userLists" data-ltype="library">
          <h5 class="h5-library-heading">Drag from Library</h5>
          <% @usercourses.each do |usercourse| %>
            <li data-courseid="<%= usercourse.course_id %>" data-userid="<%= usercourse.user_id %>" class="m-2 list-group-item library-item">
              <h5><%= usercourse.course.title %></h5>
              <span class='library-item-via'>via </span>
              <span class="library-item-provider"><%= usercourse.course.provider %>  |  </span>
              <span class="library-item-duration"><%= usercourse.course.duration %> hours to complete</span>
            </li>
          <% end %>
        </ul>
    </div>
  </div>

  <div class="path">
    <div class="container mb-4" style="display: flex; justify-content: center;">
      <ul class="sortable-list list-group path-to-edit" data-groupname="userLists" data-ltype="path" data-pathid="<%= @path.first.id %>">
        <h5 class="h5-path-heading"><%= @path.first.title %></h5>
        <% unless @path.first.users_courses_paths[0].nil? %>
          <% @path.first.users_courses_paths.order(:position).each do |course| %>
            <li data-courseid="<%= course.user_course.course_id %>" data-position="<%= course.position %>" class="m-2 list-group-item library-item">
              <h5><%= course.user_course.course.title %></h5>
              <span class='library-item-via'>via </span>
              <span class="library-item-provider"><%= course.user_course.course.provider %>  |  </span>
              <span class="library-item-duration"><%= course.user_course.course.duration %> hours to complete</span>
              <!-- params needs to be passed in order of expected route params, then only additional params may follow -->
              <%= link_to user_users_courses_path_path(user_id: @user.id, id: @path.first.id, course_id: "#{course.user_course.course_id}" ), :confirm => 'Are you sure?', method: :delete, remote: true, class: "path-course" do %>
              <i class="fas fa-trash-alt"></i>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
 </div>

</div>



<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Oops...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>test modal body content</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
