<!-- <h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p> -->

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0), #51EBA0">
  <div class="banner-bubbles">
  <%= image_tag("yellow-banner.svg") %>
  </div>
  <div class="banner-container">
    <h1 class="text-primary">Start learning new things.</h1>
  </div>
</div>



  <!-- search bar for courses according to user input -->
<div class="searchbanner">
  <div class="container">
    <h3 style="font-size: 20px;">
      <%if params[:query].present?%>
        <%= @courses.count %> total results for <strong><em>"<%= params[:query] %>"</em></strong></h3>
      <%else%>
        <%= @courses.count %> available Courses</h3>
      <%end%>
    <%= form_tag courses_path, method: :get, class: 'd-flex align-items-center justify-content-center mt-3' do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control mr-3", style: 'height: 45px;',
      placeholder: "What would you like to learn?"
    %>
    <%= submit_tag "Find a course", class: "btn btn-primary", style: 'font-size: 1.1rem;' %>
    <% end %>
  </div>
</div>
<!-- Display of of overall course list -->
<div class="container">
  <div class="scrolling-box">
    <div class="cards">
      <% @courses.each do |course| %>
      <div class="card-category p-3" style="border-radius: 6px;">
        <div class="card-items">
          <div>
            <h4><%= link_to course.title.truncate(50, separator: ' '), course_path(course) %></h4>
              <div class="card-item-provider">via <%= course.provider %>  |
              <span class="card-item-duration"><%= course.duration %> hours to complete</span>
              </div>
            </div>
          <% if user_signed_in? %>
          <div class="catalog-button">
            <h5><%= button_to "+ Add to library", add_course_path(course_id: course), remote: true, class: "btn btn-primary", style: 'font-size: 1.1rem; font-family: Circular; margin-left: 5px;' %></h5>
          </div>
          <% end %>
        </div>
        <div class="card-item-description"><%= course.description.truncate(150, separator: ' ') %></div>
        </div>
       <% end %>
    </div>
  </div>
</div>





