<h1>Courses#index</h1>
<p>Find me in app/views/courses/index.html.erb</p>



<div class="container">
  <!-- search bar for courses according to user input -->
  <div class="searchcontainer">
  <h3 style="font-size: 20px; margin-bottom: 0; margin-top: 10px;">
    <%if params[:query].present?%>
      <%= @courses.count %> total results for <strong><em>"<%= params[:query] %>"</em></strong></h3>
    <%else%>
      <%= @courses.count %> available Courses</h3>
    <%end%>
  <%= form_tag courses_path, method: :get, class: 'd-flex align-items-center justify-content-center mt-3' do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control mr-3", style: 'height: 45px;',
      placeholder: "What would you like to learn?"
    %>
    <%= submit_tag "Find a course", class: "btn btn-primary", style: 'font-size: 1.1rem;' %>
    <% end %>
   </div>
<!-- Display of of overall course list -->
    <div class="scrolling-box">
    <div class="cards">
      <% @courses.each do |course| %>
      <div class="card-category">
        <h4><%= link_to course.title, course_path(course) %></h4>
        <% if user_signed_in? %>
        <h4><%= button_to "Add to my library", add_course_path(course_id: course), remote: true %></h4>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLongTitle">Oops...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>test modal body content</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


