<div class="banner">
  <div class="container" style="display: flex; justify-content: space-between; padding-top: 40px;">
    <div>
      <h1><%=@course.title%></h1>
      <div class="card-item-provider text-primary"><h4>via <%= @course.provider %>  |
        <span class="card-item-duration text-primary"><%= @course.duration %> hours to complete</span></h4>
      </div>
    </div>
    <div>
      <% if user_signed_in? %>
        <h5><%= button_to "+ Add to library", add_course_path(course_id: @course), remote: true, class: "btn btn-primary", style: 'font-size: 1.1rem; font-family: Circular; margin-top: 10px;' %></h5>
      <% end %>
    </div>
  </div>
</div>

<div class="container" style="margin-top: 30px;">
  <div class="card-item-description"><p><%= @course.description%></p></div>
</div>
